/* ----------CONFIGURAÇAO INICIAL------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------PLANO DE FUNDO DE TODAS AS PAGINAS------------ */
body {
    background-image: url(https://images.tcdn.com.br/img/img_prod/620948/papel_de_parede_adesivo_pet_shop_patinhas_de_cachorro_e_osso_ssjan_44_225_1_20191104205428.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* --------------------CONFIGURAÇÃO DA NAVBAR DE TODAS AS PAGINAS-------------------  */
.navbar {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 174, 255));
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    height: 115px;
    padding: 0px 100px;
    color: rgb(255, 255, 255);

}

.navbar {
    display: flex;
    gap: 10px;
}

a {
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    transform: scale(10px);
    color: rgb(255, 0, 0);
}

.navegacao {
    font-size: 22px;
}

/* -----------------------CONFIGURAÇÃO DO FOOTER DE TODAS AS PAGINAS------------------- */
footer {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-top: 22px;
    height: 200px;
    width: 1690px;
    padding: 22;

}

footer p {
    padding: 22px;
    margin: 22px;
}

/*---------------- COMEÇO INDEX---------------------- */
.caes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Dog>img {
    border: solid black;
    margin: 22px;
    height: 350px;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.imagem>img {
    display: block;
    background-size: 100%;
    width: 63%;
    justify-items: center;
    align-items: center;

}

.container {
    height: 222px;
    width: 300px;
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    font-size: 29px;
    margin-left: 222px;
    margin-top: 80px;
    color: rgb(0, 0, 0);
}

.descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* -----------------------COMEÇO QUEMSOMOS-------------------------------*/

.introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 222px;
    font-size: 22px;
    gap: 10px;
}



.contexto>h1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

}

.contexto>h2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22px 0px 3px;
}

.contexto>p {
    font-size: 22px;
}

/* ----------------------COMEÇO RAÇAS--------------------------- */
.caes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Dog>img {
    border: solid black;
    margin: 22px;
    height: 350px;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.imagem>img {
    display: block;
    background-size: 100%;
    width: 63%;
    justify-items: center;
    align-items: center;

}

.container {
    height: 222px;
    width: 300px;
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    font-size: 29px;
    margin-left: 222px;
    margin-top: 80px;
    color: rgb(0, 0, 0);

}


/* ---------- --------------COMEÇO DOENÇAS----------------------- */
.doencas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 22px;
}

.Doen_sinto {
    border-radius: 20px;
    width: 900px;
    margin-left: 50p;
    border: 2px solid;
    gap: 15px;
    height: 99px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 115, 255));
    color: rgb(193, 193, 209);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}


/* --------------------------COMEÇO CUIDADOS------------------------ */
.cuidados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border: 2px solid;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 115, 255));
    color: rgb(193, 193, 209);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    text-align: center;
    width: 1000px;
    margin-left: 400px;
    margin-top: 22px;
}


/* --------------------------- COMEÇO CONTATO------------------------- */

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    text-align: center;
    background-color: transparent;

    background-image: linear-gradient(to left, rgb(0, 140, 255), white);
    border-radius: 99px;
    margin-top: 120px;
    margin-left: 600px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    width: 500px;
    height: 450px;
}

.login {
    justify-content: center;
    align-items: center;
    margin: 22px;
}

button {
    height: 40px;
    width: 100px;
}

/* ----------------------------COMEÇO INSPIRAÇÕES---------------------- */
#text {
    font-size: 2.5em;
    text-transform: uppercase;

}

#primeira {
    padding: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

#primeira>#text {
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
}

.item {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    min-height: 425px;
    padding: 30px;
    line-height: 1.4em;
    text-align: justify;
    margin-top: 40px;
    border: 2px solid;
    background-image: linear-gradient(black, rgb(0, 115, 255))
}

.pets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    flex-wrap: wrap;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.fotos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.infor {
    display: none;
}

.aberto {
    display: block;
}

.botao {
    background-color: rgb(9, 135, 189);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.botao>i {
    color: white;
    font-size: 24px;
}

.icone {
    transition: transform 0.3s;
    color: rgb(0, 0, 0);
}

.rotated {
    transform: rotate(180deg);
}

.dp {
    color: white;
}
