* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navbar{
        background-color: rgb(0, 174, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-size: 100%;
        height: 115px;
        padding: 0px 100px;
        color: aliceblue;
        
    }

    .navbar {
        display: flex;
        gap: 10px;
    }
    a{
        color: aliceblue;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    a:hover{
        transform: scale(10px);
        color: rgb(255, 0, 0);
    }
    .navegacao{
        font-size: 22px;
    }

    .intro{
        display: flex;
        justify-items: center;
        align-items: center;
    
    }
    .caes{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid black;
        flex-direction: column;
    }
    .caes>img{
        border: solid black;
        margin: 22px;
        height: 350px;
        width: 400px;
        justify-content: center;
        align-items: center;
    }
    